<div class="main__home">
            <div class="home">
                <h3 class="home__title">Anime:</h3>
                <div class="home__card-wrapper">
                    <button class="home__arrow home__arrow--left" id="scrollLeft">◀</button>
                    <div class="home__card-page home__card-list" id="animeList">
                        <!-- JavaScript -->
                    </div>
                    <button class="home__arrow home__arrow--right" id="scrollRight">▶</button>
                </div>
                <h3 class="home__title">Serien:</h3>
                <div class="home__card-wrapper">
                    <button class="home__arrow home__arrow--left" id="scrollLeft">◀</button>
                    <div class="home__card-page home__card-list" id="seriesList">
                        <div class="media__card">
                            <img class="card__img" src="./images/logo_black.png" alt="">
                            <h3 class="card__title">Dieser Titel könnte auch sehr lange sein deswegen stehe ich hier.</h3>
                        </div>
                        <div class="media__card">
                            <img class="card__img" src="./images/logo_black.png" alt="">
                            <h3 class="card__title">Dieser Titel könnte auch sehr lange sein deswegen stehe ich hier.</h3>
                        </div>
                        <div class="media__card">
                            <img class="card__img" src="./images/logo_black.png" alt="">
                            <h3 class="card__title">Dieser Titel könnte auch sehr lange sein deswegen stehe ich hier.</h3>
                        </div>
                        <div class="media__card">
                            <img class="card__img" src="./images/logo_black.png" alt="">
                            <h3 class="card__title">Dieser Titel könnte auch sehr lange sein deswegen stehe ich hier.</h3>
                        </div>
                        <div class="media__card">
                            <img class="card__img" src="./images/logo_black.png" alt="">
                            <h3 class="card__title">Dieser Titel könnte auch sehr lange sein deswegen stehe ich hier.</h3>
                        </div>
                        <div class="media__card">
                            <img class="card__img" src="./images/logo_black.png" alt="">
                            <h3 class="card__title">Dieser Titel könnte auch sehr lange sein deswegen stehe ich hier.</h3>
                        </div>
                        <div class="media__card home__card-end">
                            <h3 class="card__title card__title-end"><a href="#anime">Mehr anzeigen...</a></h3>
                        </div>
                    </div>
                    <button class="home__arrow home__arrow--right" id="scrollRight">▶</button>
                </div>
                <h3 class="home__title">Filme:</h3>
                <div class="home__card-wrapper">
                    <button class="home__arrow home__arrow--left" id="scrollLeft">◀</button>
                    <div class="home__card-page home__card-list" id="movieList">
                        <div class="meida__card">
                            <img class="card__img" src="./images/logo_black.png" alt="">
                            <h3 class="card__title">Dieser Titel könnte auch sehr lange sein deswegen stehe ich hier.</h3>
                        </div>
                        <div class="media__card">
                            <img class="card__img" src="./images/logo_black.png" alt="">
                            <h3 class="card__title">Dieser Titel könnte auch sehr lange sein deswegen stehe ich hier.</h3>
                        </div>
                        <div class="media__card">
                            <img class="card__img" src="./images/logo_black.png" alt="">
                            <h3 class="card__title">Dieser Titel könnte auch sehr lange sein deswegen stehe ich hier.</h3>
                        </div>
                        <div class="media__card">
                            <img class="card__img" src="./images/logo_black.png" alt="">
                            <h3 class="card__title">Dieser Titel könnte auch sehr lange sein deswegen stehe ich hier.</h3>
                        </div>
                        <div class="media__card">
                            <img class="card__img" src="./images/logo_black.png" alt="">
                            <h3 class="card__title">Dieser Titel könnte auch sehr lange sein deswegen stehe ich hier.</h3>
                        </div>
                        <div class="media__card">
                            <img class="card__img" src="./images/logo_black.png" alt="">
                            <h3 class="card__title">Dieser Titel könnte auch sehr lange sein deswegen stehe ich hier.</h3>
                        </div>
                        <div class="media__card home__card-end">
                            <h3 class="card__title card__title-end">Mehr anzeigen...</h3>
                        </div>
                    </div>
                    <button class="home__arrow home__arrow--right" id="scrollRight">▶</button>
                </div>
            </div>
        </div>