<div class="page__anime">
    <div class="pageList">
        <div class="pageList__filter">
            <h4 class="pageList__title">Filter</h4>
        </div>
        <div class="pageList__pages">
            <div>
                <button class="button__page" id="allLeft">«</button>
                <button class="button__page" id="oneLeft">‹</button>
            </div>
            <div class="num__page">
               <div class="num__description pageNum">1</div>
               <div class="num__description btw">von</div>
               <div class="num__description">X</div>
            </div>
            <div>
                <button class="button__page" id="oneRight">›</button>
                <button class="button__page" id="allRight">»</button>
            </div>
        </div>
    </div>
    <div class="anime__card-page" id="animeList">
        <!-- JavaScript Content -->
    </div>
    <div class="pageList__pages">
        <div>
            <button class="button__page" id="allLeft">«</button>
            <button class="button__page" id="oneLeft">‹</button>
        </div>
        <div class="num__page">
            <div class="num__description pageNum">1</div>
            <div class="num__description btw">von</div>
            <div class="num__description">X</div>
        </div>
        <div>
            <button class="button__page" id="oneRight">›</button>
            <button class="button__page" id="allRight">»</button>
        </div>
    </div>
</div>
