<div class="pageList">
    <div class="pageList__title" id="searchBtn">Suchen</div>
    <div class="pageList__filter">
        <div class="filter__list">
            <div class="filter__type">
                <h5 class="type__title" id="filterType">Typ</h5>
                <div class="hidden filter__dropdown">
                    <p class="dropdown-option" data-name="movie">Film</p>
                    <p class="dropdown-option" data-name="anime">Anime</p>
                    <p class="dropdown-option" data-name="ova">OVA</p>
                    <p class="dropdown-option" data-name="ona">ONA</p>
                    <p class="dropdown-option" data-name="special">Spezial</p>
                    <p class="dropdown-option" data-name="music">Soundtrack</p>
                </div>
            </div>
            <div class="filter__top">
                <h5 class="type__title" id="filterTop">Beliebtheit</h5>
            </div>
            <div class="filter__genre">
                <h5 class="type__title" id="filterGenre">Genre</h5>
                <div class="genre__list">
                    <p class="genre__option" data-id="1">Action</p>
                    <p class="genre__option" data-id="2">Adventure</p>
                    <p class="genre__option" data-id="46">Award Winning</p>
                    <p class="genre__option" data-id="4">Comedy</p>
                    <p class="genre__option" data-id="8">Drama</p>
                    <p class="genre__option" data-id="10">Fantasy</p>
                    <p class="genre__option" data-id="47">Gourmet</p>
                    <p class="genre__option" data-id="14">Horror</p>
                    <p class="genre__option" data-id="7">Mystery</p>
                    <p class="genre__option" data-id="22">Romance</p>
                    <p class="genre__option" data-id="24">Sci-Fi</p>
                    <p class="genre__option" data-id="36">Slice of Life</p>
                    <p class="genre__option" data-id="30">Sports</p>
                    <p class="genre__option" data-id="37">Supernatural</p>
                    <p class="genre__option" data-id="9">Ecchi</p>
                    <p class="genre__option" data-id="39">Detective</p>
                    <p class="genre__option" data-id="56">Educational</p>
                    <p class="genre__option" data-id="13">Historical</p>
                    <p class="genre__option" data-id="62">Isekai</p>
                    <p class="genre__option" data-id="17">Material Arts</p>
                    <p class="genre__option" data-id="66">Mahou Shoujo</p>
                    <p class="genre__option" data-id="18">Mecha</p>
                    <p class="genre__option" data-id="38">Military</p>
                    <p class="genre__option" data-id="6">Mythology</p>
                    <p class="genre__option" data-id="40">Psychological</p>
                    <p class="genre__option" data-id="3">Racing</p>
                    <p class="genre__option" data-id="72">Reincarnation</p>
                    <p class="genre__option" data-id="21">Samurai</p>
                    <p class="genre__option" data-id="42">Seinen</p>
                    <p class="genre__option" data-id="23">School</p>
                    <p class="genre__option" data-id="29">Space</p>
                    <p class="genre__option" data-id="11">Strategy Game</p>
                    <p class="genre__option" data-id="31">Super Power</p>
                    <p class="genre__option" data-id="76">Survival</p>
                    <p class="genre__option" data-id="77">Teamsports</p>
                    <p class="genre__option" data-id="78">Time Travel</p>
                    <p class="genre__option" data-id="32">Vampire</p>
                    <p class="genre__option" data-id="79">Video Game</p>
                    <p class="genre__option" data-id="15">Kids</p>
                    <p class="genre__option" data-id="25">Shojo</p>
                    <p class="genre__option" data-id="27">Shounen</p>
                </div>
            </div>
        </div>
        <div class="filter__season">
                <select name="season" id="season">
                    <option>Season</option>
                    <option value="winter">Winter</option>
                    <option value="spring">frühling</option>
                    <option value="summer">Sommer</option>
                    <option value="fall">Herbst</option>
                </select>
                <select class="form-select" id="year" name="year">
                    <option>Jahr</option>
                    <option value="2025">2025</option>
                    <option value="2024">2024</option>
                    <option value="2023">2023</option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                    <option value="1999">1999</option>
                    <option value="1998">1998</option>
                    <option value="1997">1997</option>
                    <option value="1996">1996</option>
                    <option value="1995">1995</option>
                    <option value="1994">1994</option>
                    <option value="1993">1993</option>
                    <option value="1992">1992</option>
                    <option value="1991">1991</option>
                    <option value="1990">1990</option>
                    <option value="1989">1989</option>
                    <option value="1988">1988</option>
                    <option value="1987">1987</option>
                    <option value="1986">1986</option>
                    <option value="1985">1985</option>
                    <option value="1984">1984</option>
                    <option value="1983">1983</option>
                    <option value="1982">1982</option>
                    <option value="1981">1981</option>
                    <option value="1980">1980</option>
                </section>         
        </div>
    </div>
</div>