<div class="main__home">
            <div class="home">
                <h3 class="home__title">Anime:</h3>
                <div class="home__card-wrapper">
                    <button class="home__arrow home__arrow--left" id="scrollLeft">◀</button>
                    <div class="home__card-page home__card-list" id="animeList">
                        <!-- JavaScript -->
                    </div>
                    <button class="home__arrow home__arrow--right" id="scrollRight">▶</button>
                </div>
                <h3 class="home__title">Filme:</h3>
                <div class="home__card-wrapper">
                    <button class="home__arrow home__arrow--left" id="scrollLeft">◀</button>
                    <div class="home__card-page home__card-list" id="movieList">
                        <!-- JavaScript -->
                    </div>
                    <button class="home__arrow home__arrow--right" id="scrollRight">▶</button>
                </div>
                <h3 class="home__title">Bevorstehende:</h3>
                <div class="home__card-wrapper">
                    <button class="home__arrow home__arrow--left" id="scrollLeft">◀</button>
                    <div class="home__card-page home__card-list" id="upcomingList">
                        <!-- Javascript -->
                    </div>
                    <button class="home__arrow home__arrow--right" id="scrollRight">▶</button>
                </div>
            </div>
        </div>