<div>
    <p>Bewertet wird:</p>
    <h2>TITEL</h2>
</div>
<div>
    <p>Bewertung:</p>
    <div>
        <h3>Charakter</h3>
        <div>
            <p>0</p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
            <p>9</p>
            <p>10</p>
        </div>
    </div>
    <div>
        <h3>Story</h3>
        <div>
            <p>0</p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
            <p>9</p>
            <p>10</p>
        </div>
    </div>
    <div>
        <h3>Atmosphere</h3>
        <div>
            <p>0</p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
            <p>9</p>
            <p>10</p>
        </div>
    </div>
    <div>
        <h3>Irgendwas</h3>
        <div>
            <p>0</p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
            <p>9</p>
            <p>10</p>
        </div>
    </div>
    <div>
        <h3>Sound</h3>
        <div>
            <p>0</p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
            <p>9</p>
            <p>10</p>
        </div>
    </div>
    <div>
        <p>Hier dein Kommentar:</p>
        <input type="text">
    </div>
    <button>Speichern</button>
</div>