<div class="filter__options">
    <label>
        <input type="radio" name="filter" id="all" hidden checked>
        <span class="filter__option">Alle</span>
    </label>
    <label>
        <input type="radio" name="filter" id="watchlist" hidden>
        <span class="filter__option">Watchliste</span>
    </label>
    <label>
        <input type="radio" name="filter" id="seen" hidden>
        <span class="filter__option">Gesehen</span>
    </label>
    <label>
        <input type="radio" name="filter" id="watching" hidden>
        <span class="filter__option">Am schauen</span>
    </label>
    <label>
        <input type="radio" name="filter" id="dropped" hidden>
        <span class="filter__option">Abgebrochen</span>
    </label>
</div>

<div class="watchlog__list">
    
</div>