<div class="filer__options">
    <div class="filter__option option-active">Alle</div>
    <div class="filter__option">Watchliste</div>
    <div class="filter__option">Gesehen</div>
    <div class="filter__option">Am Schauen</div>
    <div class="filter__option">Abgebrochen</div>
</div>

<div class="watchlog__list">
    <div class="card__watchlog"  data-status="watching">
        <div class="watchlog__anime">
            <img class="watchlog__image" src="https://cdn.myanimelist.net/images/anime/1177/150344l.jpg">
            <h1 class="watchlog__title">Kaijuu 8-gou 2nd Season</h1>
        </div>
        <div class="watchlog__info">
            <div class="watchlog__type" data-type="TV">Anime</div>
            <div class="watchlog__release" data-year="2025" data-season="summer">Sommer 2025</div>
            <div class="watchlog__watched"><span class="watchlog__date">02.10.2025</span></div>
            <div class="watchlog__status">
                <div class="watchlog__options">•••</div>
            </div>
        </div>
    </div>
    <div class="card__watchlog"  data-status="seen">
        <div class="watchlog__anime">
            <img class="watchlog__image" src="https://cdn.myanimelist.net/images/anime/1722/99235l.jpg">
            <h1 class="watchlog__title">Shaman King</h1>
        </div>
        <div class="watchlog__info">
            <div class="watchlog__type" data-type="TV">Anime</div>
            <div class="watchlog__release" data-year="2025" data-season="summer">Sommer 2001</div>
            <div class="watchlog__watched"><span class="watchlog__date">02.10.2025</span></div>
            <div class="watchlog__status">
                <div class="watchlog__score">☆<div>6.7<strong>/</strong>10</div></div>
                <div class="watched__counter">
                    <div class="watchlog__operator">+</div>
                    <div class="watchlog__rewatch">1</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card__watchlog"  data-status="watchlist">
        <div class="watchlog__anime">
            <img class="watchlog__image" src="https://cdn.myanimelist.net/images/anime/1681/148216l.jpg">
            <h1 class="watchlog__title">Kimetsu no Yaiba Movie: Mugen Jou-hen</h1>
        </div>
        <div class="watchlog__info">
            <div class="watchlog__type" data-type="MOVIE">Film</div>
            <div class="watchlog__release" data-year="2025" data-season="summer">18.07.2025</div>
            <div class="watchlog__watched"><span class="watchlog__date">02.10.2025</span></div>
            <div class="watchlog__status">
                <div class="watchlog__options">•••</div>
                <div class="watchlog__delete">X</div>
            </div>
        </div>
    </div>
    <div class="card__watchlog"  data-status="dropped">
        <div class="watchlog__anime">
            <img class="watchlog__image" src="https://cdn.myanimelist.net/images/anime/1565/111305l.jpg">
            <h1 class="watchlog__title">Naruto: Shippuuden</h1>
        </div>
        <div class="watchlog__info">
            <div class="watchlog__type" data-type="TV">Anime</div>
            <div class="watchlog__release" data-year="2025" data-season="summer">Winter 2007</div>
            <div class="watchlog__watched"><span class="watchlog__date">02.10.2025</span></div>
            <div class="watchlog__status">
                <div class="watchlog__options">•••</div>
                </div>
            </div>
        </div>
    </div>
</div>