.page__anime {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.anime__card-page {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
    justify-content: center;
}

.pageList {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.button__page {
    padding: 0 1rem 0.5rem 1rem;
    border: none;
    font-size: 3.8rem;
    margin: 1rem;
}

.border {
    border: 0.1rem solid var(--color-border);
    border-radius: 0.6rem;
    background-color: var(--color-bg-layout);
    
}

.num__page {
    display: flex;
}

.pageList__title {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid var(--color-border);
    background-color: var(--color-bg-layout);
    height: 3.5rem;
    width: 6rem;
    border-radius: 0.6rem;
    padding: 0.5rem;
    margin: 1.5rem 0 0 2rem;
    font-size: 1.3rem;
    
}

.pageList__pages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.6rem;

}

.num__page {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    flex: 0 0 auto;
}

.num__page-left, .num__page-right {
    flex: 0 0 auto;
    width: 12rem;
    display: flex;
}

.btw {
    font-weight: bold;
}

.hidden-pageArrow {
    opacity: 0;
}