* {
    box-sizing: border-box;
}

:root {
    --color-primary: #1F6FEB;
    --color-secondary: #FF9F1C;
    --color-text: #222222;
    --color-text-dark: #f5f5f5;
    --color-bg-layout: #e4e3e3;
    --color-bg-layout-dark: #2c2c2c;
    --color-bg: #FFFFFF;
    --color-bg-dark: #121212;
    --color-border: #222222;
    --color-bg-title-trans: #e4e3e3;
    --color-shadow: black;
    
    --status-seen: #6CBF84;
    --status-watching: #5691E9;
    --status-dropped: #E27373;
    --status-watchlist: #D1B56F;

    --bg-title-trans: linear-gradient(180deg, rgba(0, 0, 0, 1), transparent);
    
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img { 
    max-width: 100%; height: auto; 
}

html {
    font-size: 0.625em;
    font-family: var(--font-family);
    color: var(--color-text);
    background-color: var(--color-bg-layout);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-bg);
}
html, body {
    overflow-x: hidden;
}

.hidden {
    display: none;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.hidden-logo {
    display: none;
    opacity: 0;
}

#main {
    flex: 1;
    margin-top: 1rem
}