.anime__info {
    display: flex;
    flex-direction: column;
}

.anime__head {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem dotted var(--color-border);
    padding-bottom: 0.5rem;
}

.info__rating {
    font-size: 1.2rem;
    font-weight: bolder;
    width: 5rem;
    height: 5rem;
    margin: 2rem 1rem;
    border: 0.2rem solid var(--color-border);
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.1rem 0.1rem var(--color-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.rating__description {
    font-size: 1.2rem;
    position: absolute;
    padding: 1.5rem;
    background-color: var(--color-bg-layout-dark);
    color: var(--color-text-dark);
    border-radius: 0 2rem 2rem 2rem;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--color-shadow);
}

.title__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title__main {
    padding: 0;
    margin: 0;
    text-align: center;
}

.title__lang h2 {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

.title__lang {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.title__placeholder {
    margin-left: 2rem;
    flex: 0 0 auto;
    font-size: 1.6rem;
}

.title__lang-tag {
    font-family: "Arial", "Helvetica", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    background: #ddd;
    margin: 0 1rem 0 2rem;
    border-radius: 4px;
    height: 2rem;
    width: 2rem;
    font-size: 1.4rem;
    font-weight: bold;
}

#watchCounter {
    font-size: 1.4rem;
    font-weight: Bold;
    width: 5rem;
    height: 5rem;
    margin: 2rem 1rem;
    border: 0.2rem solid var(--color-border);
    border-radius: 0.6rem;
    box-shadow: 0 0.1rem 0.1rem 0.1rem var(--color-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.show__detail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    margin: 2rem 0.5rem;
}

.image__detail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 0.2rem var(--color-shadow);
    overflow: hidden;
}

.image__detail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail__info {
    display: flex;
    min-width: 17rem;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
}

.studio__li, .publisher__li, .source__li {
    list-style: none;
    font-size: 1.1rem;
}
.detail__info div ul {
    margin-top: 0.3rem;
    padding-left: 2rem;
}

.studio__title, .publisher__title, .source__title, .score__title {
    margin: 0;
}
.score__title {
    margin-bottom: 0.5rem;
}

.detail__score {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info__score {
    font-size: 1.2rem;
    width: 5rem;
    height: 2.5rem;
    border: 0.1rem solid var(--color-border);
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.1rem 0.1rem var(--color-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.score__description {
    font-size: 1.2rem;
    position: absolute;
    padding: 1.5rem;
    background-color: var(--color-bg-layout-dark);
    color: var(--color-text-dark);
    border-radius: 2rem 0 2rem 2rem;
    box-shadow: -0.5rem 0.5rem 0.5rem var(--color-shadow);
}

.score__placeholder, .info__placeholder {
    font-size: 1.6rem;
}

.info__status-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.status__type-details {
    font-size: 1.4rem;
    font-weight: 500;
    width: 7rem;
    height: 3rem;
    border: 0.1rem solid var(--color-border);
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.1rem 0.1rem var(--color-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.status__status-details {
    font-size: 1.4rem;
    font-weight: 500;
    width: 10rem;
    height: 3rem;
    border: 0.1rem solid var(--color-border);
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.1rem 0.1rem var(--color-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.status__status-details[data-status="finished"] {
    background-color: var(--status-seen);
}

.status__status-details[data-status="airing"] {
    background-color: var(--status-watching);
}

.status__status-details[data-status="not"] {
    background-color: var(--status-dropped);
}

.status__season-details {
    font-size: 1.4rem;
    font-weight: 500;
    width: 12.5rem;
    height: 3rem;
    border: 0.1rem solid var(--color-border);
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.1rem 0.1rem var(--color-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.info__length {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.length__duration, .length__episodes {
    border: 0.1rem solid var(--color-border);
    overflow: hidden;
    border-radius: 0.6rem;
    margin: 3rem 0;
}

.duration__title, .episodes__title {
    background-color: var(--color-bg-layout);
    margin: 0;
    border-bottom: 0.1rem solid var(--color-border);
    padding: 0.5rem;
}

.duration__content, .episodes__content {
    margin: 0;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.details__genre {
    border: 0.1rem solid var(--color-border);
    border-radius: 0.6rem;
    overflow: hidden;
    width: 90vw;
    margin: 0 auto 2rem auto;
}

.genre__title {
    text-align: center;
    margin: 0;
    padding: 0.5rem;
    background-color: var(--color-bg-layout);
    border-bottom: 0.1rem solid var(--color-border);
}

.genre__content {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    padding: 1rem;   
    gap: 1rem;
}

.genre__element {
    font-size: 1.2rem;
    padding: 0.4rem;
    border: 0.1rem solid var(--color-border);
    border-radius: 0.6rem;
    box-shadow: 0.2rem 0.2rem 0.2rem var(--color-shadow);
    background-color: var(--color-bg-layout);
}

.details__synopsis {
    border: 0.1rem solid var(--color-border);
    border-radius: 0.6rem;
    width: 90vw;
    margin: 0 auto 1rem auto;
    overflow: hidden;
    background-color: var(--color-bg-layout);
}

.synopsis__container {
    padding: 1rem;
}

.synopsis__title {
    margin: 0 0 1rem 0;
    font-size: 1.4rem;
    padding: 0;
}

.synopsis__content {
    text-align: center;
    padding: 0.5rem 0.5rem;
    font-size: 1.15rem;
    font-style: italic;
    margin: 0;
    background-color: var(--color-bg);
    border-radius: 0.6rem;
}

blockquote::before {
    content: "„";
    font-size: 1.8rem;
}

blockquote::after {
    content: "“";
    font-size: 1.8rem;
}

.synopsis__trailer {
    border-top: 0.1rem solid var(--color-border);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.trailer__head {
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    font-size: 1.2rem;
}

.trailer__head h3 {
    margin: 0;
}

.trailer__video {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    display: block;
}

.trailer__container {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition:
        max-height 0.4s ease,
        opacity 0.4s ease;
    pointer-events: none;
}

.trailer__container.visible-trailer {
    max-height: 600px; 
    opacity: 1;
    pointer-events: auto;
}

.hidden-trailer {
    opacity: 0;
    pointer-events: none;
}

#arrow {
    height: 1.8rem;
}