.page__head {
    border-bottom: 1px solid var(--color-border);
    background-color: var(--color-bg-layout);
    display: flex;
    justify-content: space-between;
    justify-self: start;
    flex-shrink: 0;
    padding: 2rem;
    align-items: center;
    gap: 2rem;
}

#head_logo {
    display: flex;
    max-width: 15vw;
    height: auto;
    border: 1px solid var(--color-border);
    border-radius: 2rem;
    padding: 1rem;
}

.navbar {
  display: flex;
  flex-wrap: none;
  gap: 1rem;
  margin: 1rem;
  padding: 0;
  list-style: none;
  align-items: center;
}

.head__search {
    display: flex;
    width: 100%;
    align-items: center;
}

#search-txt {
  font-size: 1.6rem;
  width: 30rem;
  padding: 0.6rem;
  margin: 1.5rem auto;
  background-color: var(--color-bg-layout);
  border-radius: 1rem;

}

.search__btn {
    padding: 1rem;
}

.search__btn svg{
    height: 3rem;
    width: 3rem;
}


.navbar__li {
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 0.1rem dotted var(--color-border);
    border-radius: 0.4rem;
    box-shadow: 0.3rem 0.3rem 0.3rem black;

}

.navbar__li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.active__nav {
    font-weight: bold;
    transform: scale(1.1);
    box-shadow: 0.1rem 0.1rem 0.1rem var(--color-shadow);
}
.page__footer {
    display: flex;
    justify-content: space-evenly;
    justify-self: end;
    align-items: center;
    border-top: 1px solid var(--color-border);
    background-color: var(--color-bg-layout);

}
.footer__api {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.footer__api ul {
    padding-left: 2rem;
    margin: 0.2rem 0 0 0;
}

.home__card-page {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

#head_logo[data-status="seen"] {
    background-color: var(--status-seen);
}

#head_logo[data-status="watching"] {
    background-color: var(--status-watching);
}

#head_logo[data-status="dropped"] {
    background-color: var(--status-dropped);
}

#head_logo[data-status="watchlist"]{
    background-color:  var(--status-watchlist);
}

.pageList__filter {
    font-size: 1.8rem;
}

.type__title {
    border: 0.1rem solid var(--color-border);
    border-radius: 0.6rem;
    font-weight: normal;
    text-align: center;
    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.5rem var(--color-shadow);
}
.filter__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

#searchBtn {
    margin: 0 auto;
    font-size: large;
    padding: 0 4rem;
    font-weight: bold;
    box-shadow: 0.2rem 0.2rem 0.5rem var(--color-shadow);
}

.filter__dropdown, .genre__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.2rem;
    border: 0.1rem solid var(--color-border);
    background-color: var(--color-shadow);
    color: var(--color-text-dark);
    border-radius: 0.5rem;
    padding: 1rem;
}

.filter__dropdown {
    border-top-left-radius: 0;
}

.genre__list {
    border-top-right-radius: 0;
}

.dropdown-option, .genre__option {
    position: absolute;
    border: 0.1rem solid var(--color-text-dark);
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.1rem 0.4rem var(--color-text-dark);
    margin: 0;
    padding: 0.5rem;
}

.genre__list {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    width: 100%;
    height: 100%;
}