.media__card {
    position: relative;
    flex: 0 0 auto;
    height: 28rem;
    width: 18rem;
    overflow-x: hidden;
    margin: 0;
    border: 0.1rem solid var(--color-border);
    border-radius: 0.6rem;
    box-shadow: 0.3rem 0.3rem 0.3rem var(--color-shadow);
}

.media__card--clicked {
    box-shadow: none;
    transform: translate(1.15);
}

.card__img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%, -50%);
    z-index: 1;
    object-fit: cover;
}

.card__title {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 0.5rem 1rem 8rem 1rem;
    margin: 0;
    z-index: 2;
    background: var(--bg-title-trans);
    color: var(--color-bg-title-trans);
    font-size: 1.6rem;
}

.home__card-end {
    height: 18rem;
    width: 10rem;
    align-self: center;
    box-shadow: none;
    position: relative;
    flex: 0 0 auto;
    margin: 0;
}

.more-arrow {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.more-arrow svg {
    height: 90%;
    width: 100%;
    color: var(--color-text);
}